# Virtual env
venv
.venv
virtualenv

# Build
build
dist

# Caches
__pycache__
.pytest_cache
.mypy_cache
.vale-styles
.ruff_cache
v

# Coverage files
coverage.wml
.coverage
coverage_html
htmlcov
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dictionaries/project.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/git_toolbox_prj.xml
/.idea/jsLibraryMappings.xml
/.idea/jsonCatalog.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/vigenere-api.iml
